.DS_Store
.idea
.gradle

/demo/platforms
/demo/plugins

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
# you can find cordova.jar here - http://www.java2s.com/Code/Jar/c/cordova.htm
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
